body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {

    top: 35px;
    left: 188px;
    width: 50px;
    height: 47px;


    opacity: 1;
}

.emp-text {
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #82A70C;
    text-transform: capitalize;
}

.emp-payroll {
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
}

.form-content {
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {

    width: 50%;
    padding: 44px 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 90px #00000029;
    border: 0px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;


}

.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;

}

.label {
    min-width: 200px;


}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border: radius 4px;
    resize: vertical;

}

.checkbox {
    margin-left: 15px;


}

.profile-radio-content {
    display: flex;
    flex-direction: row;

}

.profile-radio-content>label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    letter-spacing: 0px;
    font: normal normal normal 16px Roboto;
    color: #42515f;
    background-color: transparent;
}

.buttonParent {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: #e2e2e2;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submitButton {
    border: none;
    margin-right: 50px;
    border: 1px solid #707070;
    margin-left: 40px;

}


.cancelButton {
    text-decoration: none;
    text-align: center;
    border: none;
    margin-right: 10px;
    border: 1px solid #707070;
    margin-left: 15px;
}



.cancelButton:hover {
    background-color: rgb(166, 166, 166);
    color: white;
    transform: scale(1.2);
    text-decoration: none;
    text-align: center;
    border: 1px solid #0311ae;
    background: #B4B4B4 0% 0% no-repeat padding-box;
}

.submitButton:hover {
    background-color: rgb(166, 166, 166);
    color: white;
    transform: scale(1.2);
    border: 1px solid #82A70C;
    border-radius: 5px;
    opacity: 1;
    background: #82A70C 0% 0% no-repeat padding-box;

}

.resetButton:hover {
    background-color: rgb(166, 166, 166);
    color: white;
    transform: scale(1.2);
    background: #B4B4B4 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
}